/* @import url('../sage/style.css'); */
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700');
@import url('font-awesome/css/font-awesome.min.css');

@font-face {
	font-family: "appFont";
	src: url("../resources/fonts/Courgette-Regular.ttf");
}

.im_hidden {
	opacity: 0;
	visibility: hidden;
	transition: opacity .5s;
}

.im_hidden {
	opacity: 1;
	visibility: visible;
}

html,
body {
	height: 100%;
	box-sizing: border-box;
}

html {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #c0114c;
}

body {
	background-color: white;
	border-radius: 25px;
	width: 98%;
	height: 96%;
	box-sizing: border-box;
	overflow: hidden;
	justify-content: center;
	align-items: center;
	color: #263f8f;
}

html.disabled_body,
html.disabled_body * {
	cursor: no-drop;
	pointer-events: none;
}

#footer {
	position: absolute;
	bottom: 5%;
	right: 2.5%;
	background-image: url(../resources/images/logo.jpg);
	height: 100px;
	width: 300px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

/* Lvels Page */
#levels_main {
	width: 80%;
	height: 80%;
	margin-left: 15%;
	margin-top: 15%;
}

#levels_main a {
	width: 150px;
	margin: 15px;
	display: inline-block;
	font-weight: bold;
	font-size: 24px;
	color: #263f8f;
}


a#link_to_tests {
	color: #d43f3a;
	width: 330px;
	margin-top: 40px;
	border-color: #e84534;
	background: #fff;
}

/* Single Grade */
#lessons_ul {
	list-style: none;
	list-style-position: outside;
	padding: 0px;
	margin: 0px -15px;
	text-align: left;
	display: block;
}

#grade_main {
	width: 60%;
	height: 80%;
	margin-left: 15%;
	margin-top: 15%;
}

#lessons_ul li {
	display: inline-block;
	width: 20%;
	border-bottom: 1px solid;
	margin: 0px 15px;
}

#lessons_ul li a {
	color: inherit;
}

#lessons_ul li:before {
	content: "\f101";
	font: normal normal normal 14px/1 FontAwesome;
}

/* Single Lesson */
#lesson_main {
	width: 80%;
	height: 80%;
	text-align: center;
	justify-content: center;
	margin-top: 5%;
}

#lesson_main video {
	width: 60%;
	display: block;
	margin: 0px auto 20px;
}

.btn-primary {
	color: #fff;
	background-color: #263f8f;
	border-color: #263f8f;
	transition: background .25s;
}

.btn-default {
	border-color: #263f8f
}

.btn:focus {
	outline: none;
}

.btn-default:hover {
	border-color: #263f8f
}

.btn-block {
	width: 100%;
}

#start_sentences {
	display: inline-block;
}

#start_sentences.animate i,
a:not(.no_animation):hover i,
button:not(.no_animation):hover i {
	animation: moveArrow 0.25s;
	animation-direction: alternate;
	animation-iteration-count: 2;
	animation-timing-function: linear;
}

a.reverse_animate:hover i,
button.reverse_animate:hover i {
	animation-name: moveArrowBack;
}

/* sentences_main */
#sentences_main {
	width: 80%;
	height: 80%;
	margin-left: 10%;
	margin-top: 5%;
	text-align: justify;
}

#sentences_main img {
	width: 62%;
	max-height: 95%;
	vertical-align: middle;
}

#sentences_audio_element_wrap {
	display: inline-block;
	width: 100%;
}

#sentences_main img+div {
	display: inline-block;
	vertical-align: top;
	width: 33%;
}

#sentences_main img+div button {
	margin-bottom: 15px;
	padding-top: 13px;
	padding-bottom: 13px;
}

#sentences_main audio {
	opacity: 0;
	visibility: hidden;
	position: absolute;
}

#sentence_text {
	color: #012A51;
	background: rgba(1, 42, 81, 0.15);
	border-color: rgba(1, 42, 81, 0.28);
	font-size: 24px;
}

#finish_popup_overlay {
	position: fixed;
	top: 0px;
	right: 0px;
	left: 0px;
	bottom: 0px;
	background: rgba(255, 255, 255, 0.64);
	opacity: 0;
	visibility: hidden;
	transition: opacity .3s;
}

.finish_lesson #finish_popup_overlay {
	opacity: 1;
	visibility: visible;
}

#finish_popup {
	position: absolute;
	width: 50%;
	background: rgb(239, 68, 35);
	top: 93%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	visibility: hidden;
	box-shadow: 0px 0px 8px;
	transition: opacity .3s, top .5s;
	text-align: center;
}

#finish_popup>span {
	display: block;
	background: #fff;
	border-radius: 23px;
	padding: 50px 0px;
	margin: 10px;
	color: #263f8f;
	font-size: 26px;
	font-weight: bold;
}

.finish_lesson #finish_popup {
	opacity: 1;
	visibility: visible;
	top: 50%;
}

#myTooltip {
	position: absolute;
	visibility: hidden;
	background-color: #263f8f;
	color: #fff;
	padding: 5px;
	border-radius: 5px;
}

/* single test */
#test_main {
	width: 50%;
	height: 80%;
	margin-left: 15%;
	margin-top: 15%;
}

#question {
	font-size: 25px;
}

#answers {
	text-align: left;
	margin-top: 10px;
}

.radio_container {
	margin-bottom: 4px;
}

#answers input[type="radio"] {
	opacity: 0px;
	position: absolute;
	width: 0px;
}

#answers label {
	vertical-align: middle;
	font-weight: normal;
	margin: 0px;
	cursor: pointer;
	font-size: 18px;
}

#answers label:before {
	content: "\f10c";
	font-family: FontAwesome;
	display: inline-block;
	margin-right: 5px;
	vertical-align: middle;
}

#answers label:hover:before,
#answers input:hover+label:before {
	content: "\f192";
}

#test_main .progress {
	margin-top: 20px;
}

#finish_popup a {
	margin-top: 25px;
}

#finish_popup a:hover i {
	animation: none;
}

#all_tests_main {
	width: 70%;
}

#all_tests_main a {
	width: 150px;
	margin: 15px;
	font-size: 24px;
}

#indication {
	font-size: 20px;
	font-weight: 700;
}

.indication {
	margin-top: 2%;
	display: flex;
	height: 30px;
}

#img {
	height: 30px;
}

@keyframes moveArrow {
	from {
		transform: none;
	}

	to {
		transform: translateX(10px);
	}
}

@keyframes moveArrowBack {
	from {
		transform: none;
	}

	to {
		transform: translateX(-10px);
	}
}

/*manage page*/
#manage_main {
	text-align: left;
	width: 40%;
}

/* expire/index Page */
#license_main {
	height: 80%;
	margin: 15%;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#password_form {
	display: flex;
}

/* start Page */
/* start Page */
#start_main {
	height: 70vh;
	/* Full viewport height */
	margin: 0;
	display: flex;
	flex-direction: column;
	/* Stack items vertically */
	justify-content: center;
	/* Center vertically */
	align-items: center;
	/* Center horizontally */
	position: relative;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	/* Full width to center the button */
	position: absolute;
	bottom: 15%;
	font-family: appFont;
	/* Button will be 50px above the bottom */
}

.image-above {
	width: 30%;
	/* Image takes up 30% of the screen width */
	margin-bottom: 20px;
	/* Space between image and button */
}

.flash-button {
	background-color: #007bff;
	color: white;
	font-size: 200%;
	padding: 1% 20%;
	/* Make the button wider */
	border: none;
	border-radius: 5px;
	cursor: pointer;
	outline: none;
	animation: flash 1s infinite alternate;
	transition: transform 0.1s ease-in-out;
}

.flash-button:active {
	transform: scale(0.95);
	/* Slightly scale down on click */
}

@keyframes flash {
	0% {
		background-color: #007bff;
	}

	50% {
		background-color: #0056b3;
	}

	100% {
		background-color: #007bff;
	}
}